<!-- <body  class = "center" style= "background-color:#BCABAE"> -->
    <span class = "center" style = "background-color:#BCABAE">
    <h2 style = "color:#2D2E2E">{{hero.name | uppercase}} Details</h2>
    <div class = "bottom"><span class = "basictext ">id: {{hero.id}}</span></div>
    <div class = "bottom"><span class = "basictext ">name: {{hero.name | uppercase}}</span></div>
    <div class = "bottom"><span class = "basictext " >{{hero.summary}}</span></div>
    <div class = "bottom">
        <button type = "button" class = buttonsize  [disabled] = "on">Linkedin</button>
        <button type = "button" class = buttonsize  [disabled] = "on">Github</button>
        <button type = "button" class = "buttonsize" [disabled] = "on">Notable Projects</button>
    </div>
    <div>
        <img [src] = picture alt = "Me">
    </div>

    <div>
        <label for = "name">Hero name:</label>
        <input  id = "name" [(ngModel)] = "hero.name" placeholder = "name">
    </div>
    <div>
        {{hero.name}}
    </div>    
    <h2>My Heroes</h2>
    <ul class = "lol"> 
    <!--used to be class = "heroes", but I wanted to see what if it really mattered-->
    <!-- heroes indicates out heroes list from the HeroesComponent class -->
    <li *ngFor="let hero of heroes">

        <!--This is Angular's repeater directive, repeats the host element 
        for each element in list-->
        <!--works like a for loop, im guessing hero is an iterator -->
        <!--we imported the array and called it HEROES and made heroes = HEROES
        where the import was called HEROES and we set heroes equal to that-->
            <button type = "button" (click) = "onSelect(hero)">
                <!--We now have a button and use an event binding when user clicks
                it executes the onSelect function which takes the iterator as an input-->
                <span class = "badge margin-right">{{hero.id}}.</span>
                <!--And then here we have a badge class applied-->
                <span class = "name">{{hero.name}}</span>
                <br> <!--Just a break-->
                <span>{{hero.summary}}</span>
            </button>

        </li>
    </ul>
    <div *ngIf="selectedHero">
        <!--like angular's if statement
        We're saying if selectedHero-->
        <h2>{{selectedHero.name | uppercase}} Details</h2>
        <!--interpolating the selectedHero's name-->
        <div>id: {{selectedHero.id}}</div>
        <div>
          <label for="hero-name">Hero name: </label>
          <input id="hero-name" [(ngModel)]="selectedHero.name" placeholder="name">
        </div>
      </div>
</span>
<!-- </body> -->
<!--Had to get rid of the body tag, only should use it in index.html-->
<!--Caused hydration error which is why event binding and two way binding did not work-->



