.jet {
    color: #2D2E2E;
}

.buttonsize {
    height: 40px;
    width: 55px;
    color:#BCABAE;
    background-color: #2D2E2E;
    border-color: #0F0F0F;
    border-radius: 8px;
    margin: 5px;
    width: auto;

}

.center {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.bottom {
    margin-bottom: 5px;
}
.basictext {
    color: #2D2E2E;
}

.buttonsize:hover {
    background-color: #0F0F0F ;
    color: #BCABAE;
    transition: background-color 0.2s ease-in 0.05s;


/* transition-property: background-color;
transition-duration: 0.2s;
transition-timing-function: ease-in;
transition-delay: 0.1s; */

}
